
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --secondary-color: #1f0303af;
    --box-color: #08070783;
    --text-color: azure;
    
    --fonte-primaria: 'Lato', sans-serif;
    --fonte-secundaria: 'Monteserrat', sans-serif;
    --fonte-terciaria: 'Krona', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.cabecalho {
   position: fixed;
}

.titulo__geral {
    padding: 4% 0 0 13%;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--text-color);
    font-size: 3.5rem;
}

.subtitulo__geral {
    padding: 0 0 0.5% 13%;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--text-color);
    font-size: 1.2rem;
}

.menu__lista {
    background-color: #730202;
    bottom: 0;
}

.menu__lista nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
    line-height: 1rem;
}

nav ul li a { 
    line-height: 1.5rem;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: #FFFF;
    font-size: 0.9rem;
    font-weight: 400;
        
    }

.carousel {
    width: 100%;
    height: 350vh;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 12% 5% 0 0%;
}



.content-section {
    transition: opacity 3s ease;
    display: none;
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
    padding: 1% 15% 0% 13%;
    background-color: var(--box-color);
    gap: 5px;
}

.active {
    display: flex;
    
}

.conteudo__titulo {
    font-family: var(--fonte-primaria);
    color: var(--text-color);
    font-weight: 600;
    text-align: left;
    font-size: 1.8rem;
}

.conteudo__paragrafo {
    margin: 0 5% 0% 0%;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--text-color);
    text-align: left;
    font-size: 1.1rem;
}

.conteudo__proposta__lista {
    margin: 0 1% 0% 3%;
    list-style-type: disc;
    list-style-position: inside;
    font-family: var(--fonte-primaria);
    color: var(--text-color);
    text-align: left;
    font-size: 1rem;
}

.video-pecas {
    display: flex;
    flex-wrap: wrap;
    padding: 1% 0 1% 0;
}

.video-container iframe {
    width: 90%;
    height: 90%;
    
}

.subtitulo__caixa {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--text-color);
    text-align: left;
    font-size: 2rem;
}

.conteudo__paragrafo__video {
    margin: 1% 3% 0% 1%;
    font-family: var(--fonte-primaria);
    color: var(--text-color);
    text-align: left;
    font-size: 0.9rem;
}

.text-container {
    flex: 20%;
    width: 10%;
    margin: 1% 0 1% 1%;
    text-align: center;
}

@media (max-width: 1080px) {

    .cabecalho {
        display: block;
        position: relative;
      
        .menu__lista nav ul {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            list-style-type: none;
            line-height: 1rem;
        }
        
        nav ul li a { 
            line-height: 1rem;
            text-decoration: none;
            font-family: var(--fonte-secundaria);
            color: #FFFF;
            font-size: 0.5rem;
            font-weight: 200;


    }
    .titulo__geral {
        padding: 2% 0 0 7%;
        font-size: 1.5rem;
    }

    .subtitulo__geral {
        font-size: 0.8rem;
        padding: 0.1% 0 0.5% 7%;
    }

        
    .conteudo__titulo {
            font-size: 0.8rem;
        }
    
    .conteudo__proposta__lista {
            font-size: 0.8rem;
        }
    
    .conteudo__paragrafo {
            font-size: 0.5rem;
        }
    
    .conteudo__paragrafo__video {
            font-size: 0.7rem;
        }
    
        .video-container iframe {
            width: 90%;
            height: 90%;
            
        }      
    }

    }
    

