
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #b6870f;
    --secondary-color: #1f0303af;
    --accent-color:#6e4f35;
    --background-color: #f7f4e7 ;
    --cabecalho-color:#FFF8D7;
    --box-color: #faf3f069;
    --text-color: #333333;
    --color-logo: #fcdd89;

    --fonte-primaria: 'Lato', sans-serif;
    --fonte-secundaria: 'Monteserrat', sans-serif;
    --fonte-terciaria: 'Krona', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
}

.cabecalho {
    width: 100%;
    position: fixed;
    background: var(--cabecalho-color);
    
}

.cabecalho__logo::after {
    content: "";
    clear: both;
    display: table;
}

.imagem__logo {
    float: left;
    margin: 0.5% 0.3% 0.5% 15%;
    height: 60%;
    width: 20%;
    border-radius: 2%;
    }

.titulo__geral {
    padding-top: 6.5%;
    font-family: var(--fonte-primaria);
    color: var(--secondary-color);
    text-align: left;
    font-size: 3.5rem;
}

.subtitulo__geral {
    font-family: var(--fonte-primaria);
    color: var(--secondary-color);
    text-align: left;
    font-size: 1.7rem;
}

.cabecalho__menu__lista {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    gap: 3.5rem;
    background-color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: var(--cabecalho-color);
    font-size: 1.1rem;
}

.subtitulo__caixa {
    font-family: var(--fonte-primaria);
    /*font-weight: medium;*/
    color: var(--secondary-color);
    text-align: left;
    font-size: 1.7rem;
}

.topo__vazio {
    padding: 15% 10% 0% 10%;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.apresentacao__inicial {
    padding: 1% 5% 1% 5%;
    margin: 1% 17% 0% 17%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.329);
    border-radius: 8px;
    background-color: var(--box-color);
}

.apresentacao__proposta {
    padding: 1% 5% 1% 5%;
    margin: 0% 17% 0% 17%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.329);
    border-radius: 8px;
    background-color: var(--box-color);
}

.apresentacao__historia {
    padding: 1% 5% 1% 5%;
    margin: 0% 17% 0% 17%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.329);
    border-radius: 8px;
    background-color: var(--box-color);
}

.conteudo__titulo {
    font-family: var(--fonte-secundaria);
    color: var(--secondary-color);
    font-style:normal;
    text-align: left;
    font-size: 2.5rem;
}

.conteudo__paragrafo {
    margin: 1% 3% 0% 1%;
    font-family: var(--fonte-secundaria);
    color: var(--text-color);
    text-align: left;
    font-size: 1.2rem;
}

.conteudo__proposta__lista {
    margin: 1% 1% 0% 5%;
    list-style-type: disc;
    list-style-position: inside;
    font-family: var(--fonte-secundaria);
    color: var(--text-color);
    text-align: left;
    font-size: 1.2rem;
}

.realizacoes {
    padding: 1% 5% 1% 5%;
    margin: 0% 17% 0% 17%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.329);
    border-radius: 8px;
    background-color: var(--box-color);
}

.video-pecas {
    display: flex;
    flex-wrap: wrap;
    padding: 3% 0 0 0;
}

.video-container iframe {
    width: 400px;
    height: 315px;
}

.conteudo__paragrafo__video {
    margin: 1% 0% 0% 1%;
    font-family: var(--fonte-secundaria);
    color: var(--text-color);
    text-align: left;
    font-size: 1rem;
}

.text-container {
    flex: 30%;
    margin: 1% 0 1% 1%;
    text-align: center;
}

@media (max-width: 1200px) {
    .cabecalho {
        display: block;
        position: inherit;
    }
    .titulo__geral {
        padding-top: 4%;
        font-size: 1.5rem;
    }

    .subtitulo__geral {
        font-size: 0.8rem;
    }

    .cabecalho__menu__lista {
        display: flex;
        justify-content: space-between;
        padding: 0.3% 15% 0.5% 0;
        font-size: 0.8rem;
    }
    .apresentacao {
        display: flex;
    }

    .topo__vazio {
        padding: 1% 10% 0% 10%;
    }
        
    .conteudo__titulo {
            font-size: 1rem;
        }
    
    .conteudo__proposta__lista {
            font-size: 0.8rem;
        }
    
    .conteudo__paragrafo {
            font-size: 0.8rem;
        }
    
    .conteudo__paragrafo__video {
            font-size: 0.7rem;
        }
    
    .video-container iframe {
        width: 200px;
        height: 157.5px;       
    }

    }
    

