
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #b6870f;
    --secondary-color: #1f0303af;
    --accent-color:#6e4f35;
    --background-color: #f7f4e7 ;
    --cabecalho-color:#FFF8D7;
    --box-color: #faf3f08f;
    --text-color: #333333;
    --color-logo: #fcdd89;

    --box-caixas {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.76);
        border-radius: 8px;
        background-color: var(--box-color);
    }

    --fonte-primaria: 'Lato', sans-serif;
    --fonte-secundaria: 'Monteserrat', sans-serif;
    --fonte-terciaria: 'Krona', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    /*box-sizing: border-box;*/
    width: 100%;
    max-width: 1080px;
    background-color: var(--background-color);
}

.cabecalho {
    width: 100%;
    position: fixed;
    }

.cabecalho__fundo {
    background-size: 200%;
}

.titulo__geral {
    padding: 4% 0 0.5% 13%;
    font-family: var(--fonte-primaria);
    color: #FFFF;
    font-size: 2.5rem;
}

.subtitulo__geral {
    padding: 0.1% 0 0.5% 13%;
    font-family: var(--fonte-primaria);
    color: #FFFF;
    font-size: 1.2rem;
}

.cabecalho__menu__lista {
    display: flex;
    justify-content: left;
    padding: 0 7% 0 15%;
    gap: 3.5rem;
    line-height: 2rem;
    background-color: #730202;
    
    font-family: var(--fonte-secundaria);
    color: #FFFF;
    font-size: 0.9rem;
    font-weight: 400;
}

.subtitulo__caixa {
    font-family: var(--fonte-primaria);
    color: var(--secondary-color);
    text-align: left;
    font-size: 1rem;
}

.apresentacao{
    /*display: flex;*/
    position: absolute;
    padding: 13% 30% 0 13%;
}

.apresentacao__inicial {
    
    padding: 3% 5% 3% 5%;
    margin: 1% 3% 0% 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    border-radius: 25px 25px 0 0;
    background-color: var(--box-color);
    }


.apresentacao__proposta {
    
    padding: 1% 3% 1% 3%;
    margin: 1% 3% 0% 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.329);
    border-radius: 25px 25px 25px 25px;
    background-color: var(--box-color);
}

.apresentacao__historia {
    padding: 1% 3% 1% 3%;
    margin: 1% 3% 0% 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.329);
    border-radius: 8px;
    background-color: var(--box-color);
}



.conteudo__titulo {
    font-family: var(--fonte-secundaria);
    color: var(--secondary-color);
    font-style:normal;
    text-align: left;
    font-size: 1.8rem;
}

.conteudo__paragrafo {
    margin: 1% 3% 0% 1%;
    font-family: var(--fonte-secundaria);
    color: var(--text-color);
    text-align: left;
    font-size: 0.9rem;
}

.conteudo__proposta__lista {
    margin: 1% 1% 0% 5%;
    list-style-type: disc;
    list-style-position: inside;
    font-family: var(--fonte-secundaria);
    color: var(--text-color);
    text-align: left;
    font-size: 0.9rem;
}

.nosso__repertorio {
    padding: 1% 3% 1% 3%;
    margin: 1% 3% 0% 16%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.329);
    border-radius: 8px;
    background-color: var(--box-color);
}

.video-pecas {
    display: flex;
    flex-wrap: wrap;
    padding: 3% 0 0 0;
}

.video-container iframe {
    width: 350px;
    height: 275px;
}

.conteudo__paragrafo__video {
    margin: 1% 0% 0% 1%;
    font-family: var(--fonte-secundaria);
    color: var(--text-color);
    text-align: left;
    font-size: 0.9rem;
}

.text-container {
    flex: 30%;
    margin: 1% 0 1% 1%;
    text-align: center;
}

@media (max-width: 1080px) {

    .cabecalho {
        display: block;
        position: relative;
        
    }
    .titulo__geral {
        padding: 4% 0 0.5% 7%;
        font-size: 1.5rem;
    }

    .subtitulo__geral {
        font-size: 0.8rem;
        padding: 0.1% 0 0.5% 7%;
    }

    .cabecalho__menu__lista {
        display: flex;
        justify-content: left;
        font-size: 0.7rem;
        gap:1.5rem;
        padding: 0% 0.5% 0.5% 7%;
        line-height: 0.8rem;
    }
    .apresentacao {
        display: flex;
        flex-direction: column;
        width: 80%;
        position: absolute;
        padding: 2% 10% 0 7%;
    }
      
    .conteudo__titulo {
            font-size: 1rem;
        }
    
    .conteudo__proposta__lista {
            font-size: 0.8rem;
        }
    
    .conteudo__paragrafo {
            font-size: 0.8rem;
        }
    
    .conteudo__paragrafo__video {
            font-size: 0.7rem;
        }
    
    .video-container iframe {
        width: 200px;
        height: 157.5px;       
    }

    }
    

